# Node.js
node_modules/

# Dependency directories
node/
vendor/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE files
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db
node_modules
